<div class="text-container my-4">
  <h2 class="text-center">Nos Services</h2>
  <p class=" text-center">Découvrez les services que nous proposons pour nos visiteurs et animaux.</p>
  <div class="row">
    <div class="col-md-4">
      <h4>Visites guidées</h4>
      <p>Découvrez une expérience immersive au Zoo Arcadi avec nos visites guidées personnalisées, idéales pour tous les âges ! Accompagnés par des guides passionnés, explorez des habitats variés où cohabitent des espèces fascinantes, des majestueux félins aux oiseaux colorés. Profitez d’anecdotes captivantes, assistez à des moments interactifs comme les repas des animaux et apprenez-en plus sur nos efforts de conservation. Chaque parcours est conçu pour émerveiller et éduquer, dans un cadre confortable et adapté à vos envies. Réservez votre visite dès aujourd’hui et plongez au cœur de la nature au Zoo Arcadi !</p>
    </div>
    <div class="col-md-4">
      <h4>Restauration</h4>
      <p>Au Zoo Arcadi, savourez une pause gourmande dans un cadre unique ! Notre espace de restauration propose une variété de plats frais et savoureux, adaptés à tous les goûts, avec des options végétariennes et des menus enfants. Dégustez votre repas en terrasse avec une vue imprenable sur nos jardins ou optez pour un snack rapide pour profiter au maximum de votre visite. Que ce soit pour un déjeuner en famille ou une collation sur le pouce, notre équipe est là pour rendre votre expérience aussi délicieuse qu’inoubliable.</p>
    </div>
    <div class="col-md-4">
      <h4>Soins des animaux</h4>
      <p>Au Zoo Arcadi, découvrez les coulisses des soins prodigués à nos animaux ! Nos équipes dévouées veillent chaque jour à leur bien-être grâce à une alimentation adaptée, des habitats enrichis et des suivis vétérinaires réguliers. Lors de votre visite, assistez à des moments uniques, comme les entraînements médicaux ou la préparation des repas, et apprenez-en plus sur nos efforts pour protéger les espèces en danger. Plongez dans l’univers fascinant des soins animaliers et repartez avec une nouvelle perspective sur la conservation et le respect de la faune.</p>
    </div>
  </div>
</div>

