.app-container {
  background-image: url('images/mhd.jpg');
  background-size: 100%; /* Taille initiale */
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  animation: zoomEffect 5s infinite alternate; /* Animation de zoom */
}

@keyframes zoomEffect {
  0% {
    background-size: 100%; /* Début sans zoom */
  }
  100% {
    background-size: 110%; /* Fin avec zoom */
  }
}


.app-container > * {
  position: relative;
  z-index: 2; /* Le contenu reste au-dessus de la couche sombre */
}



.menu-links {
  display: flex;
  justify-content: flex-end; /* Aligne les éléments à droite */
  gap: 100px; /* Ajoute un espacement entre les liens */
}

.menu-links a {
  text-align: center; /* Centrer le texte dans chaque bouton */
}

.menu-links a {
  margin-right: 10px;
}


header.fixed-top {
  z-index: 1030; /* Assure que le header reste au-dessus */
}

nav.navbar {
  z-index: 1029; /* Met la barre de navigation juste en dessous du header */
}

.app-container {
  padding-top: calc(70px + 56px); /* Calcule l'espace pour le header (70px) et la navbar (56px) */
}

header.fixed-top {
  height: 70px; /* Hauteur du header */
}

nav.navbar {
  height: 56px; /* Hauteur de la barre de navigation */
}
