.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.animal-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.modal.fade.show {
  display: block !important; /* S'assurer que la modale s'affiche */
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.modal-dialog {
  top: 20%;
  transform: translateY(0); /* S'assurer que la position est correcte */
}

