

<div class="text-container">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="pseudo">Notice Name</label>
        <input
          type="text"
          class="form-control"
          id="pseudo"
          required
          [(ngModel)]="notice.pseudo"
          name="pseudo"
          placeholder="Enter notice name"
        />
      </div>

      <div class="form-group">
        <label for="comment">Commentaire</label>
        <input
          class="form-control"
          id="comment"
          required
          [(ngModel)]="notice.comment"
          name="comment"
          placeholder="Enter comment"
        />
      </div>

      <div class="form-group">
        <label for="isvisible">Visible</label>
        <input
          type="checkbox"
          class="form-control"
          id="isvisible"
          [(ngModel)]="notice.isvisible"
          name="isvisible"
        />
      </div>

      <button (click)="saveNotice()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Habitat was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newNotice()">Add Notice</button>
    </div>
  </div>
</div>
